<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newverupdate</key>
	<false/>
	<key>Quizcount</key>
	<integer>10</integer>
	<key>WrongAnsTxt</key>
	<string>Remember, An incorrect answer makes the dinosaurs really sad!</string>
	<key>QArr</key>
	<array>
		<dict>
			<key>Options</key>
			<array>
				<string>So far, it’s a tie. so, let’s see.</string>
				<string>Can’t say, scientists are busy counting.</string>
				<string>Dinosaurs - they lived for millions of years.</string>
				<string>Off course humans, We are here &amp; dinosaurs are not!</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Homo sapiens, (human species) existed for about 200,000 years, while dinosaurs for over 165 million years.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>2</integer>
			<key>Question</key>
			<string>Who lived longer on earth - Dinosaurs or Humans?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>They had really strong teeth, never lost it.</string>
				<string>Yes, the poor old dinos were toothless.</string>
				<string>They got new teeth when old one fell out.</string>
				<string>Who said Dinosaurs had teeth?</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>As dinosaur’s teeth became worn or broken they fell out and new ones grew in their places.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>2</integer>
			<key>Question</key>
			<string>Did Dinosaurs lose their tooth when they grew old?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>No one knows for sure.</string>
				<string>Dinosaurs didn’t sleep; they were either hunting or stargazing.</string>
				<string>They slept standing up and were sleep walking all the time!</string>
				<string>They liked lying down on comfy beds made up of trees.</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>There are only speculations; no one really knows how they slept.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>0</integer>
			<key>Question</key>
			<string>Dinosaurs slept standing up or lying down?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>What else do you call a dinosaur?</string>
				<string>B&apos;coz Dinosaurs were discovered by Sir Richard Dinosaur.</string>
				<string>That&apos;s the name ancient Romans gave them.</string>
				<string>It means terrifying lizards in greek.</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>The term dinosaur is derived from Greek words &quot;deinos&quot; (means terrifying) and &quot;sauros&quot; (means lizard).</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>3</integer>
			<key>Question</key>
			<string>Why are dinosaurs called dinosaurs?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Green, so they could hide behind trees.</string>
				<string>Brown, and they didn’t need to hide.</string>
				<string>Brown on front, green on back.</string>
				<string>Everybody is just guessing, nobody knows.</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>The pigmentation (the color) of dinosaurs&apos; skin is not preserved in the fossils, so no one knows.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>3</integer>
			<key>Question</key>
			<string>What colors the dinosaurs were?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Carnivores (meat eaters)</string>
				<string>Omnivore (ate whatever came their way)</string>
				<string>Herbivores (plant eaters)</string>
				<string>Coffee addicts.</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Many dinosaurs such as Brachiosaurus, Protoceratops, Stegosaurus, Triceratops, Diplodocus were plant eaters.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>2</integer>
			<key>Question</key>
			<string>Most dinosaurs were..</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Hunting area of each T-Rex</string>
				<string>Kenya - Tanzania border where oldest dinosaur fossils were found</string>
				<string>The time when Dinosaurs became extinct.</string>
				<string>There is no such term.</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Alvarez theory explains dinosaurs became exticts at the K-T boundary due to asteroid hitting earth. </string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>2</integer>
			<key>Question</key>
			<string>What is referred as K-T boundary?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>230 millions years ago</string>
				<string>165 million years ago</string>
				<string>200,000 years ago</string>
				<string>10 million years ago</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Dinosaurs got their start as small, meat-eating creatures 230 million years ago.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>0</integer>
			<key>Question</key>
			<string>When did dinosaurs first appear?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Amphibians</string>
				<string>Mammals</string>
				<string>Imaginary</string>
				<string>Reptiles</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Reptiles includes lizards , snakes , turtles , dinosaurs , and in some classifications, birds.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>3</integer>
			<key>Question</key>
			<string>Dinosaurs belonged to which group of animals</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Frogs</string>
				<string>Birds</string>
				<string>Crocodiles</string>
				<string>Humans</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Paleontologists believe that the birds probably evolved from the maniraptors, a branch of bird-like dinosaurs.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>1</integer>
			<key>Question</key>
			<string>Which modern day species are evolved from Dinosaurs?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>They were fighting, and killed each other.</string>
				<string>There was a flu outbreak and they never took flu shots.</string>
				<string>An asteroid colliding with the Earth.</string>
				<string>They ate poisonous stuff and there were no vets around.</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>A theory is that an asteroid hit the Earth about 65 million years ago, caused huge fires, tsunamis, severe storms and acidic rains.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>2</integer>
			<key>Question</key>
			<string>What probably caused the extinction of the dinosaurs?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Nope.</string>
				<string>Yes. as seen in movies.</string>
				<string>Scientists are not sure yet.</string>
				<string>Yes, but they were called flyosaurs.</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>There were a lot of flying reptiles, but the Dinosaurs lived their entire lives on land.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>0</integer>
			<key>Question</key>
			<string>Were there any flying dinosaurs?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>woolly mammoth</string>
				<string>Maiasaura</string>
				<string>Geocoma</string>
				<string>Pterodactyl</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Maiasauras were duck-billed dinosaurs that grew to be about 30 feet long &amp; weighed 3-4 tons</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>1</integer>
			<key>Question</key>
			<string>Which of the following is a dinosaur</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Spinosaurus</string>
				<string>Tyrannosaurus Rex</string>
				<string>Anaconda</string>
				<string>Sauroposeidon</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Spinosaurus, which also had the longest head of the meat eating dinosaurs, weighed up to 9.9 tons.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>0</integer>
			<key>Question</key>
			<string>What dinosaur is the world&apos;s largest carnivore?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Stegosaurus</string>
				<string>Compsognathus</string>
				<string>Sauroposeidon</string>
				<string>Quetzalcoatlus</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Compsognathus was a chicken-sized, carnivorous dinosaur from the Jurassic period.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>1</integer>
			<key>Question</key>
			<string>What is the smallest dinosaur known yet?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Scientists have not agreed yet on this.</string>
				<string>Warm blooded, like birds.</string>
				<string>Cold blooded, like lizards.</string>
				<string>Their blood temperature depended on situation.</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Any definite conclusions about dinosaur metabolism will have to await future discoveries</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>0</integer>
			<key>Question</key>
			<string> Were dinosaurs cold or warm blooded?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Dromaeosaurids</string>
				<string>Oviraptors</string>
				<string>Tyrannosaurids</string>
				<string>They all were dumb.</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Dromaeosaurids had the largest ratio of brain weight:body weight.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>0</integer>
			<key>Question</key>
			<string>Which dinosaur family was the smartest?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>In the end of Jurassic park movie.</string>
				<string>Cretaceous period.</string>
				<string>Jurassic period.</string>
				<string>Triassic period.</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>The Cretaceous period (the last period of the Mesozoic Era) ended with the extinction of dinosaurs.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>1</integer>
			<key>Question</key>
			<string>When did dinosaur become extinct?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Rhinosaurus</string>
				<string>Triceratops</string>
				<string>Stegosaurus</string>
				<string>Saltopus</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Triceratops was a rhinoceros-like dinosaur that had three horns on its face.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>1</integer>
			<key>Question</key>
			<string>Which one of these dinosaurs was most like a rhinoceros?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Argentinosaurus huinculensis</string>
				<string>Ultrasauros</string>
				<string>blue whales</string>
				<string>Paralititan</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Blue whales are BIGGER THAN ANY of the dinosaurs were!</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>2</integer>
			<key>Question</key>
			<string>Who is biggest among below list of animals.</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Hadrosaurs</string>
				<string>Ultrasauros</string>
				<string>T-Rex</string>
				<string>Sauropods</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>The plant-eating hadrosaurs (the duck-billed dinosaurs) had about 960 cheek teeth. </string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>0</integer>
			<key>Question</key>
			<string>Which dinosaurs had the most teeth?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Sauroposeidon</string>
				<string>Diplodocus</string>
				<string>Mamenchisaurus</string>
				<string>Tailosaurus</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Diplodocus had the longest tail. It was up to 43 feet (13 m) long.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>1</integer>
			<key>Question</key>
			<string>Which dinosaurs had the longest tail?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Oh yeah, they did fart a lot!</string>
				<string>No, they never farted.</string>
				<string>Scientists are not sure yet.</string>
				<string>Dinosaurs could only burp.</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Dinosaurs farted a lot, which could have contributed to global warming millions of years ago. </string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>0</integer>
			<key>Question</key>
			<string>Did Dinosaurs fart ?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>India</string>
				<string>China</string>
				<string>Arizona, US</string>
				<string>None of the above</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Fossilized dinosaur remains have been found all over the world.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>3</integer>
			<key>Question</key>
			<string>Where have dinosaur remains NOT been found?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Apatosaurus</string>
				<string>Maiasaura</string>
				<string>Eoraptor</string>
				<string>Stegosaurus</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Eoraptor means Dawn Thief, were among earliest dinosaurs.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>2</integer>
			<key>Question</key>
			<string>What dinosaur&apos;s name means &quot;dawn thief&quot; ?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Iguanodon</string>
				<string>Euoplocephalus</string>
				<string>Triceratops</string>
				<string>Stegosaurus</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Stegosaurus had two rows of plates along its back.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>3</integer>
			<key>Question</key>
			<string>Which of these dinosaurs had two rows of plates along its back?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Eoraptor</string>
				<string>Saltasaurus</string>
				<string>Hadrosaurus</string>
				<string>T-Rex</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>The first dinosaur skeleton, discovered in New Jersey, was a Hadrosaurus.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>2</integer>
			<key>Question</key>
			<string>The first dinosaur skeleton ever found was :</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Around 9000</string>
				<string>Nearly 900</string>
				<string>About 100</string>
				<string>Exactly 729</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>It&apos;s around 900 now, but many new discoveries happening continuously.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>1</integer>
			<key>Question</key>
			<string>The total number of kinds of dinosaurs now known is :</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>Scatolite</string>
				<string>Coprolite</string>
				<string>Nitelite</string>
				<string>pooposaur</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Caprolite is what scientists call Dinosaur waste.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>1</integer>
			<key>Question</key>
			<string>What is scientific name for fossilized dinosaur poop?</string>
		</dict>
		<dict>
			<key>Options</key>
			<array>
				<string>They gave birth to babies.</string>
				<string>They laid eggs.</string>
				<string> Dinosaur babies were created in labs.</string>
				<string>They got it from another planet.</string>
			</array>
			<key>Complexity</key>
			<integer>0</integer>
			<key>Details</key>
			<string>Most donpsaurs are reptiles who laid eggs.</string>
			<key>Image</key>
			<string></string>
			<key>Answer</key>
			<integer>1</integer>
			<key>Question</key>
			<string>How did dinosaurs produce their young ?</string>
		</dict>
	</array>
</dict>
</plist>
