<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newverupdate</key>
	<false/>
	<key>maintitle</key>
	<string>DinoDoc</string>
	<key>playername</key>
	<string>Aryan</string>
	<key>anstime</key>
	<integer>20</integer>
	<key>bgsound</key>
	<string>dinosound</string>
	<key>bgimg</key>
	<string>dinodoc_bg.png</string>
	<key>showads</key>
	<true/>
	<key>quizbgsound</key>
	<string>ticking</string>
	<key>wrongsound</key>
	<string>wrong_answer</string>
	<key>rightsound</key>
	<string>right_answer</string>
	<key>soundon</key>
	<true/>
	<key>showansdetails</key>
	<true/>
	<key>options</key>
	<array>
		<dict>
			<key>title</key>
			<string>Beginner</string>
			<key>image</key>
			<string></string>
			<key>price</key>
			<integer>0</integer>
			<key>purchased</key>
			<false/>
			<key>highscore</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>T-Rex</string>
			<key>image</key>
			<string></string>
			<key>price</key>
			<integer>0</integer>
			<key>purchased</key>
			<false/>
			<key>highscore</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Velociraptor</string>
			<key>image</key>
			<string></string>
			<key>price</key>
			<integer>0</integer>
			<key>purchased</key>
			<false/>
			<key>highscore</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Brachiosaurus</string>
			<key>image</key>
			<string></string>
			<key>price</key>
			<integer>0</integer>
			<key>purchased</key>
			<false/>
			<key>highscore</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
