<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newverupdate</key>
	<false/>
	<key>maintitle</key>
	<string>DinoDoc</string>
	<key>playername</key>
	<string>Aryan</string>
	<key>anstime</key>
	<integer>20</integer>
	<key>bgsound</key>
	<string>dinosound</string>
	<key>bgimg</key>
	<string>dinodoc_bg.png</string>
	<key>navimg</key>
	<string>NavBar-Leather.png</string>
	<key>btnbgimg</key>
	<string>rockbg.png</string>
	<key>showads</key>
	<true/>
	<key>quizbgsound</key>
	<string>ticking</string>
	<key>wrongsound</key>
	<string>wrong_answer</string>
	<key>rightsound</key>
	<string>right_answer</string>
	<key>soundon</key>
	<true/>
	<key>showansdetails</key>
	<true/>
	<key>options</key>
	<array>
		<dict>
			<key>title</key>
			<string>Explorer</string>
			<key>productid</key>
			<string>com.09apps.dinodoc.explorer</string>
			<key>active</key>
			<true/>
			<key>on-image</key>
			<string></string>
			<key>off-image</key>
			<string></string>
			<key>purchased</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>Brachiosaurus</string>
			<key>productid</key>
			<string>com.09apps.dinodoc.Brachiosaurus</string>
			<key>active</key>
			<true/>
			<key>on-image</key>
			<string></string>
			<key>off-image</key>
			<string></string>
			<key>purchased</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>Velociraptor</string>
			<key>productid</key>
			<string>com.09apps.dinodoc.velociraptor</string>
			<key>active</key>
			<true/>
			<key>on-image</key>
			<string></string>
			<key>off-image</key>
			<string></string>
			<key>purchased</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>T-Rex</string>
			<key>productid</key>
			<string>com.09apps.dinodoc.trex</string>
			<key>active</key>
			<true/>
			<key>on-image</key>
			<string></string>
			<key>off-image</key>
			<string></string>
			<key>purchased</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>Triceratops</string>
			<key>productid</key>
			<string>com.09apps.dinodoc.Triceratops</string>
			<key>active</key>
			<true/>
			<key>on-image</key>
			<string></string>
			<key>off-image</key>
			<string></string>
			<key>purchased</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>Stegosaurus</string>
			<key>productid</key>
			<string>com.09apps.dinodoc.Stegosaurus</string>
			<key>active</key>
			<true/>
			<key>on-image</key>
			<string></string>
			<key>off-image</key>
			<string></string>
			<key>purchased</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>Ankylosaurus</string>
			<key>productid</key>
			<string>com.09apps.dinodoc.Ankylosaurus</string>
			<key>active</key>
			<true/>
			<key>on-image</key>
			<string></string>
			<key>off-image</key>
			<string></string>
			<key>purchased</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>Dilophosaurus</string>
			<key>productid</key>
			<string>com.09apps.dinodoc.Dilophosaurus</string>
			<key>active</key>
			<true/>
			<key>on-image</key>
			<string></string>
			<key>off-image</key>
			<string></string>
			<key>purchased</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>Get All</string>
			<key>productid</key>
			<string>com.09apps.dinodoc.getall</string>
			<key>active</key>
			<true/>
			<key>on-image</key>
			<string></string>
			<key>off-image</key>
			<string></string>
			<key>purchased</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>Remove ads</string>
			<key>productid</key>
			<string>com.09apps.dinodoc.removeads</string>
			<key>active</key>
			<false/>
			<key>on-image</key>
			<string></string>
			<key>off-image</key>
			<string></string>
			<key>purchased</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
